* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}

body {
	font-family: "Poppins", sans-serif;
	font-color: #fff;
	background-color: #313131;
	background-image: url("../img/jasondw.png");
	background-repeat: no-repeat;
	background-position: bottom center;
	background-attachment: fixed;
	background-size: 15rem;
}

a {
	color: white;
}

a:hover {
	text-decoration: none;
	color: #72C7B5;
}

button:hover {
	text-decoration: none;
	color: #72C7B5;
	border: 2px solid #72C7B5;
}

.active {
	color: #72C7B5;
}

h1 {
	padding-top: 2rem;
	text-transform: uppercase;
	font-size: 2.2rem;
	font-weight: 600;
	letter-spacing: 0.2rem;
	text-align: center;
}

.top-links {
	text-align: center;
	margin-top: -0.5rem;
}

.top-links li {
	text-align: center;
	margin-top: 0rem;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem 1.75rem 1rem 1.75rem;
	display: inline-block;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
}

.social-icons {
	margin-top: -1.5rem;
	text-align: center;
}

.social-icons li {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	font-size: 2rem;
}

.hello-text {
	text-align: center;
	font-size: 2rem;
	font-style: italic;
	color: #fff;
	font-weight: 300;
	padding: 3rem;
}

.highlight {
	font-weight: 500;
	color: #72C7B5;
}

.intro {
	text-align: center;
}

.learn-more {
	color: #fff;
	font-size: 1.5rem;
	font-weight: 600;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 2px;
	padding: 1.25rem 2rem 1.25rem 2rem;
}



/*==========  Mobile First - Media Queries  ==========*/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.top-links {
		text-align: left;
		margin-top: 3.25rem;
		margin-left: -2rem;
	}
	.top-links li {
		padding: 1rem;
	}
	.social-icons {
		margin-top: 2.75rem;
		text-align: center;
	}
	.social-icons li {
		display: inline-block;
		padding: 1rem 1rem 1rem 1rem;
		font-size: 2rem;
	}
	.hello-text {
		font-size: 2.5rem;
		padding: 5rem;
	}
	.learn-more {
		font-size: 2rem;
		font-weight: 500;
		border: 2px solid #fff;
		padding: 1.75rem 2.25rem 1.75rem 2.25rem;
	}
	h1,
	.social-icons,
	.top-links {
		margin-bottom: 3rem;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	h1,
	.social-icons,
	.top-links {
		margin-bottom: 5rem;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	h1 {
		margin-left: -3rem;
		margin-right: -3rem;
	}
	.top-links {
		margin-left: -3rem
	}
	.social-icons {
		margin-left: 9rem;
	}
	.hello-text {
		padding-left: 15rem;
		padding-right: 15rem;
	}
}
