* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}

body,
.about,
.work,
.contact {
	font-family: "Poppins", sans-serif;
	color: #fff;
	background-color: #313131;
	background-image: url("../img/jasondwsmall.png");
	background-repeat: no-repeat;
	background-position: bottom center;
	background-attachment: fixed;
	background-size: 50rem;
}

.about,
.work,
.contact {
	background-image: url("../img/jasondwsmalllight.png");
}

a {
	color: white;
}

a:hover {
	text-decoration: none;
	color: #72C7B5;
	opacity: 0.9;
}

button:focus {
	outline: none;
}

button:hover {
	text-decoration: none;
	color: #72C7B5;
	border: 2px solid #72C7B5;
}

.active {
	color: #72C7B5;
}

h1 {
	padding-top: 2rem;
	text-transform: uppercase;
	font-size: 2.2rem;
	font-weight: 600;
	letter-spacing: 0.2rem;
	text-align: center;
}

.top-links {
	text-align: center;
	margin-top: -0.5rem;
}

.top-links li {
	text-align: center;
	margin-top: 0rem;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem 1.75rem 1rem 1.75rem;
	display: inline-block;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
}

.social-icons {
	margin-top: -1.5rem;
	text-align: center;
}

.social-icons li {
	display: inline-block;
	padding: 1rem 1.5rem;
	font-size: 2rem;
}

.hello-text {
	text-align: center;
	font-size: 2rem;
	font-style: italic;
	color: #fff;
	font-weight: 300;
	padding: 3rem;
}

.highlight {
	font-weight: 500;
	color: #72C7B5;
}

.intro {
	text-align: center;
}

.learn-more {
	display: none;
	color: #fff;
	font-size: 1.5rem;
	font-weight: 600;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 2px;
	padding: 1.25rem 2rem;
}

.sub-page-header {
	text-align: center;
	font-size: 2rem;
	font-style: italic;
	color: #fff;
	font-weight: 300;
	padding: 0rem 3rem;
}

/*========================================
			ABOUT STYLES
========================================*/
.bio {
	font-size: 1.5rem;
	margin: 2rem;
	padding: 2rem 2rem;
	background-color: rgba(0,0,0,0.3);
	border-radius: 8px;
}

.skills {
	margin: 2rem;
	padding: 0.3rem 3rem;
	background-color: rgba(0,0,0,0.3);
	border-radius: 8px;
}

.skills-title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.75rem;
	letter-spacing: 0.1rem;
	text-align: center;
}

.dots {
	font-size: 1rem;
	padding-left: 1rem;
	opacity: 0.8;
	float: right;
}

.dots i {
	padding: 0.2rem;
}

.skill {
	font-weight: 600;
}

.tools {
	text-align: center;
}

/*========================================
			WORK STYLES
========================================*/
.work-body {
	margin-left: 3rem;
	margin-right: 3rem;
}

.portfolio_area {
  background: none;
  color: #fff;
  display: inline;
  float: left;
  padding-top: 30px;
  width: 100%;
}
.portfolio_area h2{
	color: #fff;
}
.portfolio_gallery{
	float: left;
	display: inline;
	width: 100%;
}
.wagwep-container ul#portfolio-filter {
  border-bottom: medium none;
  margin-top: 25px;
  text-align: center;
}
.wagwep-container ul#portfolio-filter a {
  background: none repeat scroll 0 center rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  font-weight: bold;
  margin: 0 10px 10px 0;
  padding: 6px 12px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.wagwep-container ul#portfolio-filter a:hover{
	color: #fff;	
}

.og-grid li a figure span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.9);
  display: block;
  font-weight: normal;
  margin: 40% 20px 20px;
  padding: 10px 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}
.wagwep-container ul#portfolio-filter li {
  display: inline-block;
  float: none;  
}


/*========================================
			CONTACT STYLES
========================================*/

textarea:focus, 
input:focus, 
textarea:focus {
    outline: 0;
}

form {
	margin: 1rem;
}

.form-label {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 0;
	margin-top: 2rem;
}

form span {
	color: #72C7B5;
}

input[type="text"],
input[type="email"] {
	width: 100%;
	font-family: 'Karla', sans-serif;
	color: rgba(95,156,226,0.8);
	font-size: 2rem;
	border-radius: 3px;
	padding: 10px 10px 10px 45px;
  	border: solid 3px #c9c9c9;
  	transition: border 0.3s;
}

input[type="text"] {
	background-image: url("../img/name.png");
	background-repeat: no-repeat;
	background-position: 2% 50%;
	background-size: 2rem;
}

input[type="email"] {
	background-image: url("../img/email.png");
	background-repeat: no-repeat;
	background-position: 2% 50%;
	background-size: 2rem;
}

input[type="text"]:focus,
input[type="email"]:focus {
	font-family: 'Karla', sans-serif;
	font-size: 2rem;
	color: #505050;
  	border: solid 4px #969696;
}

input[type="submit"] {
	font-family: 'Karla', sans-serif;
	letter-spacing: 0.3rem;
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	margin-top: 3rem;
	margin-bottom: 3rem;
	width: 100%;
	padding: 2rem 1rem 1.5rem 1rem;
  	background-color: #72C7B5;
  	border: none;
  	border-radius: 5px;
  	box-shadow: 0 7px #32947F;
  	cursor: pointer;
}

input[type="submit"]:hover {
  	opacity: 0.9;
  	cursor: pointer;
}

input[type="submit"]:active {
  	background-color: #72C7B5;
  	box-shadow: 0 2px #72C7B5;
  	transform: translateY(7px);
}

textarea:focus {
	font-family: 'Karla', sans-serif;
	font-size: 2rem;
	color: #505050;
  	border: solid 4px #969696;
}

.message-box {
	height: 15rem;
	width: 100%;
	font-family: 'Karla', sans-serif;
	color: rgba(95,156,226,0.8);
	font-size: 2rem;
	border-radius: 3px;
	padding: 5px 10px 10px 45px;
  	border: solid 3px #c9c9c9;
  	transition: border 0.3s;
  	background-image: url("../img/message.png");
	background-repeat: no-repeat;
	background-position: 2% 5%;
	background-size: 2rem;
	resize: none;
}


/*==========  Mobile First - Media Queries  ==========*/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	body {
		background-image: url("../img/jasondwbig.png");
		background-repeat: no-repeat;
		background-position: bottom center;
		background-attachment: fixed;
		background-size: 120rem;
	}
	.about,
	.work,
	.contact {
		background-image: url("../img/jasondwbiglight.png");
		background-size: 120rem;
	}
	.learn-more {
		display: inline-block;
	}
	.top-links {
		text-align: left;
		margin-top: 3.25rem;
		margin-left: -2rem;
	}
	.top-links li {
		padding: 1rem;
	}
	.social-icons {
		margin-top: 2.75rem;
		text-align: center;
	}
	.social-icons li {
		display: inline-block;
		padding: 1rem 1rem 1rem 1rem;
		font-size: 2rem;
	}
	.hello-text {
		font-size: 2.5rem;
		padding: 5rem;
	}
	.learn-more {
		font-size: 2rem;
		font-weight: 500;
		border: 2px solid #fff;
		padding: 1.75rem 2.25rem 1.75rem 2.25rem;
	}
	h1,
	.social-icons,
	.top-links {
		margin-bottom: 3rem;
	}
	.sub-page-header {
		font-size: 2.5rem;
	}
	.contact-form {
		margin-left: 10rem;
		margin-right: 10rem;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	h1,
	.social-icons,
	.top-links {
		margin-bottom: 5rem;
	}
	.contact-form {
		margin-left: 15rem;
		margin-right: 15rem;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	body {
		background-size: 130rem;
	}
	.about,
	.work,
	.contact {
		background-size: 130rem;
	}
	h1 {
		margin-left: -3rem;
		margin-right: -3rem;
	}
	.top-links {
		margin-left: -3rem
	}
	.social-icons {
		margin-left: 9rem;
	}
	.hello-text {
		padding-left: 15rem;
		padding-right: 15rem;
	}
	.contact-form {
		margin-left: 22rem;
		margin-right: 25rem;
	}
}
